<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admixture Results</title>
    <style>
        .admixture-plot {
          max-width: 100%; /* This makes the image responsive to the container width */
          height: auto;  /* This maintains the aspect ratio of the image */
          display: block; /* This centers the image in the container */
          margin-left: auto;
          margin-right: auto;
        }
      </style>


<div>
  {% for plot_file in plot_files %}
  <img src="{{ url_for('static', filename='images/' + plot_file) }}" alt="Admixture Plot" class="admixture-plot">
  {% endfor %}
</div>