<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Population Differentiation Analysis</title>
    <!-- Correctly reference the CSS file using Flask's url_for -->
    <link rel="stylesheet" href="{{ url_for('static', filename='user_selection.css') }}">
</head>
<body>
    <h1>Admixture Analysis</h1>
    
    <form action="/process_admixture" method="post">
        <label for="population_type">Select Population/Superpopulation:</label>
        <select name="population_type" id="population_type" onchange="populateDropdown()">
            <option value="Please Select Option">Please Select Option</option>
            <option value="superpopulation">Superpopulation</option>
            <option value="population">Population</option>
        </select>

        <div class="selected-populations" id="selectedPopulationsContainer">
            <!-- Selected populations will be displayed here -->
        </div>

        <label for="selected_population">Select Region:</label>
        <select name="selected_population" id="selected_population" multiple>
            <!-- Options will be dynamically populated based on user selection -->
        </select>

        <input type="submit" value="Submit Analysis">
    </form>
    <!-- Correctly reference the JavaScript file using Flask's url_for -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
