<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
    <title>AG- Arch Genetics</title>
</head>
<body>

    <header>
        <h1>AG</h1>
        <p>Arch Genetics </p>
    </header>

    <section>
        <a href="/clustering" class="box">
            <h2>Clustering Analysis</h2>
            <p>Principal Component Analysis (PCA) is a dimensionality reduction technique, where it identifies the major axes of genetic variation to reveal underlying patterns of relatedness among individuals.</p>
        </a>
        <a href="/admixture" class="box">
            <h2>Admixture Analysis</h2>
            <p>Quantify ancestral components to unveil insights into historical gene flow and population mixing.</p>
        </a>
        <a href="population.html" class="box">
            <h2>Population Differentiation Analysis</h2>
            <p>Measures genetic divergence between distinct populations, assessing variation and structure in their genomes</p>
        </a>
    </section>

</body>
</html>