<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
    <title>AG- Arch Genome</title>
</head>
<body>

    <header>
        <h1>AG</h1>
        <p>Arch Genome </p>
    </header>

    <section class="options-section">
        <a href="/about" class="box">
            <h2>About</h2>
            <p>Explore details about the project's goals, objectives, and relevant context to gain comprehensive insights.</p>
        </a>
        <a href="/snp" class="box">
            <h2>SNP Information</h2>
            <p>Access allele and genotype frequencies, along with clinical relevance information, for identified SNPs of interest within the genomic data.</p>
        </a>
    <section>
        <a href="/clustering" class="box">
            <h2>Clustering Analysis</h2>
            <p>Principal Component Analysis (PCA) is a dimensionality reduction technique, where it identifies the major axes of genetic variation to reveal underlying patterns of relatedness among individuals.</p>
        </a>
        <a href="/admixture" class="box">
            <h2>Admixture Analysis</h2>
            <p>Quantify ancestral components to unveil insights into historical gene flow and population mixing.</p>
        </a>
        <a href="/popdiff" class="box">
                <h2>Population Differentiation Analysis</h2>
                <p>Measures genetic divergence between distinct populations, assessing variation and structure in their genomes.</p>
            </a>
    </section>

    <footer>
        <nav>
            <a href="https://github.com/c-c-lee/Software-Development-Project.git">GitHub Repository</a>
        </nav>
    </footer>

</div>
</body>
</html>