<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Population Differentiation Analysis Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='snp_pop_results.css') }}">
</head>
<body>
    <div class="container">
        <h1>Population Differentiation Analysis Results</h1>
         <p>Population Differentiation Matrix</p>
        <div id="populationMatrix">
            <!-- Adjust content based on your representation of the population matrix -->
        </div>

        <button id="downloadButton">Download Text File</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
