<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Population Differentiation Analysis</title>
    <link rel="stylesheet" href="user_selection.css".css">
</head>
<body>
    <h1>Population Differentiation Analysis</h1>
    
    <form action="popresults.html" method="post">
        <label for="population_type">Select Population:</label>
        <select name="population_type" id="population_type" onchange="populateDropdown()">
            <option value="Please Select Option">Please Select Option</option>
            <option value="population">Population</option>
        </select>

        <div class="selected-populations" id="selectedPopulationsContainer">
            <!-- Selected populations will be displayed here -->
        </div>

        <label for="selected_population">Select Region:</label>
        <select name="selected_population" id="selected_population" multiple>
            <!-- Options will be dynamically populated based on user selection -->
        </select>

        <label for="input_type">Select Input Type:</label>
        <select name="input_type" id="input_type">
            <option value="Please Select Option">Please Select Option</option>
            <option value="snp_id">SNP ID(s)</option>
            <option value="genomic_coordinates">Genomic Coordinates</option>
            <option value="gene_names">Gene Names</option>
        </select>

        <label for="input_value">Enter Value(s):</label>
        <input type="text" name="input_value" id="input_value" required>

        <input type="submit" value="Submit Analysis">
        
        <script src="script.js"></script>
    </form>
</body>
</html>
