body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: steelblue;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%; /* Set the width to 100% */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.box {
    width: 30%;
    min-width: 250px;
    background-color: #3498db;
    border: 1px solid #3498db;
    border-radius: 8px;
    padding: 30px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: mediumaquamarine;
    border-color: mediumaquamarine;
}

.box h2 {
    margin: 0 0 15px;
    font-size: 1.5em;
}

.box p {
    margin: 0;
    font-size: 1.1em;
    color: #eee;
}

.main-section {
    text-align: center;
    padding: 40px;
}

footer {
    background-color: steelblue;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer nav {
    display: flex;
    justify-content: space-around;
}

footer a {
    color: #fff;
    text-decoration: none;
}
